rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/ironlog/{documentId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
